doctype
html(ng-app='blogmodule')
    head
        link(rel='stylesheet', href='static/css/style.css')
        link(rel="stylesheet" type="text/css" href="dist/semantic.min.css")
        script(src="dist/semantic.min.js")
        script(src='jquery/dist/jquery.min.js')
        script(src='angular/angular.min.js')
        script(src='static/js/blogapp.js')

        block title
            title The title


    body
        br
        #content
            block content

        block footer
            footer
                span A fun wee project