doctype
html
    head
        link(rel='stylesheet' href='/static/css/style.css')
        link(rel='stylesheet' type='text/css' href='/static2/semantic.min.css')
        link(rel='stylesheet' type='text/css' href='/static2/css/font-awesome.min.css')
        script(src='/static2/jquery.min.js')
        script(src='/static2/semantic.min.js')
        script(src='/static2/angular.min.js')
        script(src='/static2/angular-resource.min.js')
        script(src='/static2/angular-route.min.js')
        script(src='/static/js/blog.js')

        block title
            title The title


    body(ng-app='blogmodule')

        div(class="wrapper", id="wrapper")

            div(class="ui fixed inverted menu navbar", id="header")
                div(class="ui center aligned container")
                    a(href="#/" class="header item" id="BlogTitle") Semi ignorant bloggings
                    div(class="right menu")
                        i(class="dropdown icon")
                        if session.user
                            a(class="item" href="/logout") Logout
                        else
                            a(class="item" onclick="$('#loginModal').modal('show')") Login
                        if session.user
                            div(class="ui simple dropdown item" ) Menu
                                i(class="dropdown icon")
                                div(class="menu")
                                  a(class="item" href="#/newpost") Create a new post
                                  a(class="item" href="#") Non blog things
                                  a(class="item" href="#/users") Users
                                  a(class="item" href="#/uploads") Manage uploads

            div(class="ui text container segment", id='content')
                div(ng-view)


                div(class="ui small modal", id="loginModal" ng-controller="loginController as lCtrl")
                    i(class="close icon")
                    div(class="header")
                        p Enter your login details
                    div(class="content")

                        div(class="ui negative message" id="loginMessage" ng-show="lCtrl.loggedIn==false")
                            i(class="close icon", ng-click="lCtrl.closeMessage()")
                            div(class="header")
                                p Woops, check your login details!

                        div(class="ui form")
                            div(class="field")
                                input(type="text", name="username", placeholder="Username", ng-model="lCtrl.login.username")
                            div(class="field")
                                input(type="text", name="password", placeholder="Password", ng-model="lCtrl.login.password")

                            button(class="ui green button", ng-click="lCtrl.authenticate()" ng-disabled="lCtrl.validate()") Log in


            div(class="ui inverted footer segment", id="footer", style="position:absolute; bottom:0;")
                div(class="ui container")
                    Blog footer - put links to things in here




