doctype
html(ng-app='blogmodule')
    head
        link(rel='stylesheet' href='/static/css/style.css')
        link(rel='stylesheet' type='text/css' href='/static2/semantic.min.css')
        script(src='/static2/jquery.min.js')
        script(src='/static2/semantic.min.js')
        script(src='/static2/angular.min.js')
        script(src='/static/js/blog.min.js')
        script(src='/static/js/blog.min.js')

        block title
            title The title


    body

        div(class="ui fixed inverted menu navbar")
            div(class="ui center aligned container")
                a(href="/" class="header item" id="BlogTitle") Semi ignorant bloggings
                div(class="right menu")
                    div(class="ui simple dropdown item" ) Menu
                        i(class="dropdown icon")
                        div(class="menu")
                          a(class="item" href="/newpost") Create a new post
                          a(class="item" href="#") Non blog things

        div(class="ui text container segment", id='mainpanel')
            block content




        block footer
