extends ./base


block title
    title All Blog posts

block content

    div(ng-controller="blogpostsController as bpC", ng-init="bpC.getBlogPosts()")

        div(ng-repeat="post in blogposts", class="ui segment")
            h3 [[post.blogtitle]]
            div [[post.blogpost]]
            br
            p
                div(class="ui red button mini", ng-click="bpC.deletePost(post.shortid)") Delete
                a(class="ui green button mini", ng-href="viewpost/[[post.shortid]]") View
            br


