extends ./base


block title
    title All Blog posts

block content

    div(ng-controller="blogpostsController as bpC", ng-init="bpC.getBlogPosts()")

        div(ng-repeat="post in blogposts")
            [[post.blogtitle]]
            [[post.blogpost]]
            [[post.shortid]]
            a(ng-click="bpC.deletePost(post.shortid)") Delete
            a(ng-click="bpC.getPost(post.shortid)") View


