div(ng-init="bpostC.getBlogPost()")

     center(ng-cloak)
        h2 [[ bpostC.blogpost.blogtitle ]]
        p [[ bpostC.blogpost.updatedAt|date:'short' ]]
        br
     p [[ bpostC.blogpost.blogpost ]]
