extends ./base

block title
    title All Blog posts

block content
    div(class="ui segment")
        h3 !{params.post.blogtitle}
        p !{params.post.blogpost}
        p !{params.post.date}
        a(onclick="$('.ui.modal').modal('show')") Delete

