extends ./base


block title
    title All Blog posts

block content

    div(ng-controller="blogpostsController as bpC", ng-init="bpC.getBlogPosts()")

        div(ng-repeat="post in blogposts", class="ui segment", ng-cloak)
            h3 [[post.blogtitle]]
            p [[post.updatedAt|date:'short']]
            div [[post.blogpost]]
            br
            p
                div(class="ui red button mini", ng-click="bpC.selected(post.shortid)") Delete
                a(class="ui green button mini", ng-href="viewpost/[[post.shortid]]") View
            br


        div(class="ui basic modal deletePostModal")
            i(class="close icon")
            div(class="header")
                Delete blog post
            div(class="image content")
                div(class="description")
                    p Are you sure you want to delete this blog post?

            div(class="actions")
                div(class="two fluid ui inverted buttons")
                    div(class="ui cancel red basic inverted button")
                        i(class="remove icon")

                    div(class="ui ok green basic inverted button" ng-click="bpC.deletePost(post.shortid)")
                        i(class="checkmark icon")
