extends ./base

block title
    title All Blog posts

block content
    h1#title All the blog posts

    each post in params.posts
        h3 #{post.blogtitle}
        p #{post.blogpost}
        p #{post.date}
        a(href='/deletepost/' + post._id) Delete
    br
    a(class="ui button", href='/') Back to the home page