extends ./base

block title
    title All Blog posts

block content
    each post in params.posts
        div(class="ui segment")
            h3
                a(href='post/' + post.shortid) !{post.blogtitle}
            p !{post.blogpost}
            p !{post.date}
            a(href='deletepost/' + post.shortid) Delete

