doctype
html(ng-app='blogmodule')
    head
        title Blog
        link(rel='stylesheet', href='static/css/style.css')
        script(src='jquery/dist/jquery.min.js')
        script(src='angular/angular.min.js')
        script(src='static/js/blogapp.js')

    body
        h1#title This is our blog
        form(method="post", action="/savepost")
            div.input
                input(type="text", name="blogtitle")
            div.input
                span.label Post
                textarea(name="blogpost", cols="40", rows="5")
            div.actions
                input(type="submit", value="submit")

        div(ng-controller='TestController')
            {{testMessage}}