doctype
html
    head
        title Blog
        link(rel='stylesheet', href='static/style.css')

    body
        h1#title This is our blog
        form(method="post", action="/savepost")
            div.input
                input(type="text", name="blogtitle")
            div.input
                span.label Post
                textarea(name="blogpost", cols="40", rows="5")
            div.actions
                input(type="submit", value="submit")