extends ./base

block title
    title This is our blog

block content

    div(ng-controller="newpostController as npCtrl")

        center
            h2 Create a new blog post
            br

            div(class="ui form")

                div(class="field")
                    input(type="text", name="blogtitle", placeholder="Blog post title", ng-model="npCtrl.newblogpost.blogtitle")

                div(class="field")
                    textarea(name="blogpost", cols="40", rows="30", placeholder="Blog post", ng-model="npCtrl.newblogpost.blogpost")
            br
            div(class="ui input")
                button(class="ui button primary", ng-click="npCtrl.saveBlogPost()") Submit


            br
            form(action="/upload", method="post", enctype="multipart/form-data")
                input(type="file", name="media", class="ui")
                button(type="submit", class="ui button") Upload media


    div(class="ui basic modal", id="successModal")
        i(class="close icon")
        div(class="header")
            p Success!
        div(class="image content")
            div(class="description")
                p The post has been saved!



