div(ng-init="bpCtrl.getBlogPost()")

     center(ng-cloak)
        h2 [[ bpCtrl.blogpost.blogtitle ]]
        p [[ bpCtrl.blogpost.updatedAt|date:'short' ]]
        br
     p [[ bpCtrl.blogpost.blogpost ]]
