include ../mixins/modalmixins

div(ng-init="bpsCtrl.getBlogPosts()")

    div(ng-repeat="post in bpsCtrl.blogposts", class="ui segment", ng-cloak)
        h3 [[post.blogtitle]]
        p [[post.updatedAt|date:'short']]
        div [[post.blogpost]]
        br
        p
            button(class="ui green button mini", ng-click="bpsCtrl.viewPost(post.shortid)") View
            if session.user
                button(class="ui red button mini", ng-click="bpsCtrl.selected(post.shortid)") Delete
        br

    mixin deleteModal('blog post', 'bpsCtrl.deletePost()')


