include ../mixins/modalmixins

div(ng-init="bpsCtrl.getBlogPosts()")

    div(ng-repeat="post in bpsCtrl.blogposts", class="ui segment", ng-cloak)
        h3(ng-click="bpsCtrl.viewPost(post.shortid)" style="cursor:pointer;") [[post.blogtitle]]
        p [[post.updatedAt|date:'short']]
        div [[post.blogpost]]
        br
        p
            if session.user
                <i class="fa fa-2x fa-trash-o" aria-hidden="true" ng-click="bpsCtrl.selected(post.shortid)" style="cursor:pointer; float:right;"></i>
        br

    mixin deleteModal('blog post', 'bpsCtrl.deletePost()')


