center
    h2 File uploads

br

button(class="ui button" type="file" ngf-select="uCtrl.uploadFile($file, $invalidFiles)" ngf-max-height="1000" ngf-max-size="1MB") Upload media
br

div(class="ui positive message" id="loginMessage" ng-show="uCtrl.uploadsuccess")
    i(class="close icon", ng-click="lCtrl.closeMessage()")
    div(class="header")
        p File uploaded!
