$basecolour: #333
$titlefontsize: 20px
$footerheight: 50px

#homelink
    float: left
    margin-left: 10px

.ui.right.attached.button
    position: fixed
    top: 25%
    width: 50px

#BlogTitle
    font-size: $titlefontsize

html,
body
	margin: 0px
	padding: 0px
	height: 100%

#wrapper
	min-height: 100%
	position: relative

#content
	padding-bottom: $footerheight
	margin-top: 100px

#footer
	width: 100%
	height: $footerheight
	position: absolute
	bottom: 0
	left: 0
	padding-bottom: 0
	border-radius: 0
